tr:nth-child(even) {
    background-color: #f2f2f2;
}

.example-card {
    text-align: center;
    justify-content: center;
    max-width: 600px;
    margin-bottom: 8px;
    padding: 15px;
}

.contenedor-partes {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin-top: 8px;
}

table {
    width: 100%;
}

boton {
    text-align: center;
    justify-content: center;
    margin-bottom: 8px;
    padding: 15px;

}