<p>listado-provincias works!</p>
<!--<mat-card class="example-card">
    <mat-card-title>Provincias</mat-card-title>
    <mat-card-content class="contenedor-partes">
        <table *ngIf="provincias.length!=0">
            <tr>
                <th>Nombre provincia</th>
                <th>Editar</th>
                <th>Eliminar</th>
            </tr>
            <tr *ngFor="let provincia of provincias">
                <td>
                    {{ provincia.name }}
                </td>
                </td>
                <td> <mat-card-actions class="contenedor-partes">
                        <button mat-stroked-button [routerLink]="[provincia.$id]">Editar</button>
                    </mat-card-actions></td>
                <td><mat-icon (click)="confirmarBorrarProvincia(provincia.$id)">cancel</mat-icon></td>
            </tr>
        </table>
        <div *ngIf="provincias.length==0">No hay ciudades disponibles en el listado</div>
    </mat-card-content>
    <mat-card-actions class="contenedor-partes">
        <button mat-stroked-button (click)="cargarProvincias()">REFRESCAR</button>
    </mat-card-actions>

</mat-card>-->