<mat-card class="example-card">
  <mat-card-title>Crear ciudad</mat-card-title>

  <mat-card-content class="contenedor-partes">
    <div [formGroup]="formCity">

      <div>
        <mat-form-field>
          <mat-label for="provincias">Selecciona una provincia:</mat-label>
          <mat-select id="provincias" formControlName="provinceId">
            <mat-option *ngFor="let provincia of provincias" [value]="provincia.$id">{{ provincia.name }}</mat-option>
          </mat-select>
        </mat-form-field>
        <!-- <p>Has seleccionado: {{ provinciaSeleccionada }}</p> -->
      </div>
      <div>
        <mat-form-field>
          <mat-label>Nombre</mat-label><input matInput placeholder="ciudad" formControlName="name">
        </mat-form-field>
      </div>
      <div><mat-form-field>
          <mat-label>Codigo Postal</mat-label><input matInput placeholder="codigo postal" formControlName="zipCode">
        </mat-form-field>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions class="contenedor-partes"><button mat-stroked-button
      (click)="guardarOActualizarCiudad()">GUARDAR</button></mat-card-actions>
</mat-card>